/.bundle
/bundle
/**/*.swp
/log/*
/*.log
/tmp
/.nyc_output
/.vagrant
/coverage
/public/assets
/config/config-local.yml
/bin/portus
/bin/integration/init
/docker-compose.overlay.yml
/spec/integration/fixtures/config.yml
/spec/integration/fixtures/data
/node_modules
/webpack-report
/db/schema.rb
