web:
  extends:
    file: docker/compose-common.yml
    service: web
  volumes:
    - .:/portus
  links:
    - db

crono:
  image: portus_web
  command: /usr/bin/supervisord
  volumes:
    - .:/portus
  links:
    - db

db:
  image: library/mariadb
  environment:
    MYSQL_ROOT_PASSWORD: portus

registry:
  extends:
    file: docker/compose-common.yml
    service: registry
  volumes:
    - ./docker/registry:/registry
    - /registry_data
  entrypoint: /registry/entry.sh
  env_file: docker/environment
  links:
    - web
  ports:
    - 5001:5001 # required to access debug service
