# LDAP support. If enabled, then only users of the specified LDAP server will
# be able to use Portus.
ldap:
  <% if ENV["PORTUS_LDAP_ENABLED"] %>
  enabled: <%= ENV["PORTUS_LDAP_ENABLED"] %>
  <% else %>
  enabled: false
  <% end %>
  <% if ENV["PORTUS_LDAP_HOSTNAME"] %>
  hostname: <%= ENV["PORTUS_LDAP_HOSTNAME"] %>
  <% else %>
  hostname: "ldap_hostname"
  <% end %>
  <% if ENV["PORTUS_LDAP_PORT"] %>
  port: <%= ENV["PORTUS_LDAP_PORT"] %>
  <% else %>
  port: 389
  <% end %>
  <% if ENV["PORTUS_LDAP_BASE"] %>
  base: <%= ENV["PORTUS_LDAP_BASE"] %>
  <% else %>
  base: ""
  <% end %>
