.btn-group
  button{
    class="btn btn-default private-btn"
    :title="privateTitle"
    :class=="{
      'btn-primary': isPrivate,
    }"
    :disabled="namespace.global || !canChangeVibisility"
    @click=="change('private')"
  }
    i.fa.fa-fw.fa-spinner.fa-spin v-if=="showLoading('private')"
    i.fa.fa-fw.fa-lock v-else=""

  button{
    class="btn btn-default protected-btn"
    title="Logged-in users can pull images from this namespace"
    :class=="{
      'btn-primary': isProtected,
    }"
    :disabled="!canChangeVibisility"
    @click=="change('protected')"
  }
    i.fa.fa-fw.fa-spinner.fa-spin v-if=="showLoading('protected')"
    i.fa.fa-fw.fa-users v-else=""

  button{
    class="btn btn-default public-btn"
    title="Anyone can pull images from this namespace"
    :class=="{
      'btn-primary': isPublic
    }"
    :disabled="!canChangeVibisility"
    @click=="change('public')"
  }
    i.fa.fa-fw.fa-spinner.fa-spin v-if=="showLoading('public')"
    i.fa.fa-fw.fa-globe v-else=""
