@import "comments";

.add-comment {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
}

.tags .label.label-success {
  margin: 0px 2px;
}

.repository-information-icon ~ .popover ul {
  margin: 0;
  padding-left: 15px;
}

.repositories-show-page {
  .panel-heading {
    padding-bottom: 0;
  }
}
