//labels
.label {
  padding: .2em .6em;
}

.label.label-info{
  background: $primary-colour;

  // Treat links inside of a label just like the label itself.
  a {
    background: $primary-colour;
    color: $white;

    &:hover {
      background: $primary-colour;
      color: $white;
    }
  }
}
.circle-label {
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  margin: 0 0.5em;
  text-align: center;
  padding-top: 4px;
  line-height: 1;
  &.circle-label-sm {
    height: 55px;
    width: 55px;
    .fa {
      font-size: 20px;
      padding-top: 5px;
      padding-bottom: 3px;
      display: block;
    }
  }
}

.permissions-label {
  border: 1px solid $permissions-label-border;
  color: $permissions-label-font-color;
}
