<header id="portus-header" class="portus-topbar">
  <div class="container-fluid">
    <i id="open_main_menu" class="fa fa-bars fa-2x visible-xs menu-sandwich"></i>

    <a href="/">
      <img class="pull-left img-responsive topbar-logo" src="/images/logo-header.png" alt="Logo on header">
    </a>
    <div class="pull-right hidden-xs">
      <a class="btn btn-link" href="/blog/index.html">Blog</a>
      <a class="btn btn-link" href="/features.html">Features</a>
      <a class="btn btn-link" href="/documentation.html">Documentation</a>
    </div>
    <div class="clearfix"></div>
  </div>
</header>

<div id="mobile-menu" class="visible-xs mobile-menu">
  <ul>
    <li><i class="fa fa-list-ul"></i><a class="btn btn-link" href="/features.html">Features</a></li>
    <li><i class="fa fa-book"></i><a class="btn btn-link" href="/documentation.html">Documentation</a></li>
    <li><i class="fa fa-newspaper-o"></i><a class="btn btn-link" href="/blog/index.html">Blog</a></li>
    <li><i class="fa fa-question-circle"></i><a class="btn btn-link" href="/docs/FAQ.html">FAQ</a></li>
  </ul>
</div>
