
{% assign route   = include.r %}
{% assign swagger = include.s %}

<div class="swagger-paths">
    {% for method in route[1] %}
    <div class="swagger-method swagger-method-{{ method[0] }}">
        <h4 id="spec-method-{{ method[0] | downcase }}{{ route[0] | replace: '/', '-' }}" class="swagger-method-title">
            <span class="swagger-method-name">{{ method[0] | upcase }}</span>
            <span class="swagger-method-route">{{ route[0] }}</span>
        </h4>

        <div class="swagger-method-details">
          <p class="swagger-method-description">{{ method[1].description | append: "." }}</p>
            {% if method[1].parameters %}
            <div class="swagger-parameters">
                <h4>Parameters</h4>

                <ul>
                  {% for parameter in method[1].parameters %}
                    <li>
                      <i>{{ parameter.name }}</i> ({{ parameter.type}}{% if parameter.required %}, <b>required</b>{% endif %}):
                      {{ parameter.description }}.
                      {% if parameter.in == "formData" %}
                        This parameter is part of the data to be sent as a form.
                      {% elsif parameter.in == "path" %}
                        This parameter has to be included as part of the path.
                      {% elsif parameter.in == "query" %}
                        This parameter has to be set in the URL query.
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if method[1].responses %}
            <div class="swagger-response">
                {% for response in method[1].responses %}
                  {% assign aux = response[0] %}
                  {% if aux == "200" or aux == "201" or aux == "202" %}
                    {% if response[1].schema.first %}
                      <h4>Response Class (status: {{ aux }})</h4>
                      <p>
                        {% if response[1].description != method[1].description %}{{ response[1].description }}.{% endif %}
                        Format of the response:
                      </p>
                      {% highlight json %}{{ response | definition_extractor }}{% endhighlight %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

                <h4>Response Messages</h4>

                <table cellspacing="0" cellpadding="0">
                {% for response in method[1].responses %}
                  {% assign aux = response[0] %}
                  {% if aux != "200" and aux != "201" and aux != "202" %}
                  <tr>
                    <td class="swagger-response-code">{{ response[0] }}</td>
                    <td class="swagger-response-message">{{ response[1].description }}.</td>
                  </tr>
                  {% elsif response[1].schema.first == nil %}
                  <tr>
                    <td class="swagger-response-code">{{ response[0] }}</td>
                    <td class="swagger-response-message">{{ response[1].description }}.</td>
                  </tr>
                  {% endif %}
                {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
