---
http_interactions:
- request:
    method: post
    uri: https://registry.mssola.cat/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"username":"test","email":"test@portus.com","password":"12341234"}}'
    headers:
      Portus-Auth:
      - mssola:hSeKZmZ2VwrWCvp_sjJf
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6620e7879c2d1846d185c8074b88f576"
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Tue, 05 Sep 2017 09:00:25 GMT
recorded_with: VCR 3.0.3
