---
http_interactions:
- request:
    method: post
    uri: https://registry.mssola.cat/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"username":"test","email":"test@portus.com","password":"12341234"}}'
    headers:
      Portus-Auth:
      - mssola:hSeKZmZ2VwrWCvp_sjJf
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errors":{"email":["has already been taken"],"username":["has already
        been taken","cannot be used: there is already a namespace named ''test''"]}}'
  recorded_at: Tue, 05 Sep 2017 11:05:15 GMT
recorded_with: VCR 3.0.3
