---
http_interactions:
- request:
    method: get
    uri: https://registry.mssola.cat/api/v1/users/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Portus-Auth:
      - mssola:hSeKZmZ2VwrWCvp_sjJf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"423579d57995c00b64759ee1fab14251"
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"username":"mssola","email":"example@test.com","current_sign_in_at":"2017-09-04T10:09:38.000Z","last_sign_in_at":"2017-09-01T10:24:37.000Z","created_at":"2017-08-01T13:53:32.000Z","updated_at":"2017-09-04T11:53:56.000Z","admin":true,"enabled":true,"locked_at":null,"namespace_id":3,"display_name":null}'
  recorded_at: Tue, 05 Sep 2017 07:51:05 GMT
recorded_with: VCR 3.0.3
