@import "variables";

#frontmatter {
    font-family: 'Roboto', sans-serif;
    text-align: center;

    .btn {
        margin-bottom: 5px;
    }
}

#documentation {
    .main-section {
        font-family: 'Roboto', sans-serif;
        color: #333;
        margin-bottom: 20px;

        h3 {
            color: #333;
        }

        .half img {
            max-width: 50%;
        }

        .users-row {
            margin: 10px auto;
        }

        .portus-users {
            border: 5px solid $portus-users-bg;
            border-radius: 100%;
            width: 80px;
            height: 80px;
            text-align: center;

            i {
                color: $portus-users-bg;
                padding-top: .5em;
            }
        }
    }

    .equal {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }

    .center {
        text-align: center;
        width: 100%;
    }

    .vcenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
