#documentation {
    .swagger-response table {
        border-collapse: collapse;
    }

    .swagger-response td, th {
        padding: 5px;
        border: 0;
    }

    .swagger-response tr {
        border: none !important;
    }

    .swagger-method-title {
        font-size: 20px;
    }
}
