= render 'shared/notifications'
= image_tag 'layout/portus-logo-login-page.png', class: 'login-picture'

.text-center = link_to 'Go back to the login page', new_user_session_path, class: 'btn btn-link'

= render 'explore/partials/form'
