= CSV.generate_line(['team',
                      activity.trackable.name,
                      'change member role',
                      activity.recipient.username,
                      activity.owner.username,
                      activity.created_at,
                      "from #{activity.parameters[:old_role]} to \
                      #{activity.parameters[:new_role]}"])
