= CSV.generate_line(['team',
                     activity.trackable.name,
                     'change the description of the team',
                     activity.recipient.name,
                     activity.owner.display_username,
                     activity.created_at,
                     "from #{activity.parameters[:old_description]} to \
                     #{activity.parameters[:new_description]}"])
