= CSV.generate_line(['team', activity.trackable.name, 'remove member', activity.recipient.display_username, activity.owner.display_username, activity.created_at, "role #{activity.parameters[:role]}"])
