<webhooks-index-page :can-create-webhook="#{can_create_webhook?(@namespace)}" namespace-path="#{namespace_path(@namespace)}" webhooks-path="#{namespace_webhooks_path(@namespace)}" :parent-namespace="#{@namespace_serialized}" :webhooks-ref="#{@webhooks_serialized}"></webhooks-index-page>
