<admin-registries-edit-page :can-change-hostname="#{@can_change_hostname}" :registry="#{@registry_serialized}" :show-force="#{!flash[:alert].nil? && !flash[:alert].empty?}" url="#{admin_registry_path(@registry)}"></admin-registries-edit-page>
