<tags-show-page :tag-ref="#{@tag_serialized}" namespace-path="#{namespace_path(@namespace)}" namespace-name="#{@namespace.name}" repository-path="#{repository_path(@repository)}" repository-name="#{@repository.name}"></tags-show-page>
