.portus-topbar {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: rgba(0, 0, 0, 0);
  transition-property: all;
  transition-duration: 0.5s;

  .container-fluid {
    height: 100%;
  }

  .pull-right{
    height: 100%;
  }

  .topbar-logo {
    padding-top: 1rem;
  }

  .btn-link {
    color: @white;
    font-weight: bold;
    font-size: 14px;
    height: 100%;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;

    font-family: "Roboto", sans-serif;
    text-transform: uppercase;

    border: 0;
    border-bottom: 0.3rem solid @white;

    transition-duration: 0.5s;
    transition-property: all;

    &:hover {
      color: @white;
      text-decoration: none;

      margin-left: 0rem;
      margin-right: 0rem;
      padding: 2rem 4rem 0 4rem;

      border-bottom-color: @white;
      transition-duration: 0.5s;
      transition-property: all;
    }
  }
}

.opaque {
  background-color: fade(@mainColour, 90%);
  height: 6rem;
  transition-property: all;
  transition-duration: 0.5s;
  .btn-link {
    margin: 0;
    border: 0;
    padding-top: 2rem;

    font-weight: normal;
    &:hover {
      padding: 2rem 4rem 0 4rem;
      background-color: fade(@secondColour, 20%);
    }
  }
}

.menu-sandwich {
  padding: 1.5rem 0 0 0;
  margin-right: 2rem;
  float: left;
  color: @white;
}

.mobile-menu {
  height: 100vh;
  padding-top: 6rem;
  width: 0;
  position: fixed;
  background-color: fade(@gray-dark, 95%);
  z-index: 999;
  overflow: hidden;
  opacity: 0;

  transition-duration: 0.5s;
  transition-property: all;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 2rem 0 2rem 1rem;
      vertical-align: middle;

      transition-duration: 0.5s;
      transition-property: all;

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem;
        color: @white;
      }

      a {
        display: inline-block;
        vertical-align: middle;
        color: @white;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
      }

      &:hover {
        background-color: fade(@portus-users-bg, 50%);

        transition-duration: 0.5s;
        transition-property: all;

        a {
          color: @white;
          text-decoration: none;
        }
      }
    }
  }

  &.active {
    width: 25rem;
    opacity: 1;

    transition-duration: 0.5s;
    transition-property: all;
  }
}

footer {
  padding: 2em 0;
  border-top: 1px solid @gray-lighter
}

.row-0 {
  margin: 0;
}
section {
  padding: 4em
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: @text-selected;
  color: #fff;
}
::-moz-selection {
  background: @text-selected;
  color: #fff;
}

.credits {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid @portus-users-bg-hover;
}

aside {
  .credits {
    background: lighten(@thirdColour, 2%);
  }
}

.content-list {
  background-color: @gray-darker;
  height: 100%;
  width: calc(100vw - 75vw);
  position: fixed;
  margin-left: 0;
  overflow-y: auto;

  .topics {
    padding: 0 !important;
    > li {
      background: lighten(@thirdColour, 1%);
      list-style: none;
      padding: 1rem 2rem;
      text-transform: uppercase;
      font-family: Roboto,sans-serif;
      color: @aside-titles;
    }
  }
  .subtopics {
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 0;
    > li {
      list-style: none;
      padding: 0.3rem;
      padding-left: 3rem;
      a {
        color: @white;
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        background-color: lighten(@thirdColour, 3%);
      }
    }
  }
}

.content-list::-webkit-scrollbar {
  width: 0.8rem;
  margin-right: 0.5rem;
}

.content-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: darken(@thirdColour, 3%);
}

.content-bar {
  margin: 1rem auto 1rem auto;
  display: table;
  .topics {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      display: inline-flex;
      button {
        border-radius: 0;
        border: 0;
        border-bottom: 3px solid @portus-users-bg;
        background: transparent;
        padding: 1rem;
        text-transform: uppercase;
        text-align: left;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 40rem;
        span {
          float: right;
          margin: 1rem;
        }
      }
    }
    .dropdown-menu {
      width: 40rem;
      margin-left: 1rem;
      .dropdown-header {
        color: @portus-users-bg;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 1rem;
      }
    }
  }
}
