header {
  height: 50px;
  width: 100%;
  background: @header-bg;
  position: fixed;
  top: 0;
  left: 0;
  padding: .5em 1em;
  z-index: 9999;
}
footer {
  padding: 2em 0;
  border-top: 1px solid @gray-lighter
}

.row-0 {
  margin: 0;
}
section {
  padding: 4em
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: @text-selected;
  color: #fff;
}
::-moz-selection {
  background: @text-selected;
  color: #fff;
}
