= render 'namespaces/partials/special_namespaces'

= render 'namespaces/partials/normal_namespaces'

= render 'namespaces/partials/components_templates'

/ TODO: move this to be used as a component prop instead of global value
- content_for :js_header do
  javascript:
    window.currentUsername = '#{current_user.username}';
