.repository {
  padding: 0;
  list-style-type: none;

  .repository-container {
    display: flex;
    overflow: hidden;
  }

  li {
    list-style: none;

    .description {
      display: inline-block;
      margin-right: 1.2em;
      vertical-align: top;
    }

    .description {
      background: $white;
      width: 100%;
      margin-right: 0;
      margin-top: 0;
      h6 {
        margin: 0;
      }
    }
  }
}
