.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.table > tbody > tr > td.table-icon {
  text-align: center;
}

.table {
  &.no-margin {
    margin: 0;
  }

  .fa-sort,
  .fa-sort-amount-asc,
  .fa-sort-amount-asc {
    display: none;
  }
}

.table-sortable {
  .fa-sort,
  .fa-sort-amount-asc,
  .fa-sort-amount-asc {
    display: inline-block;
  }

  th {
    cursor: pointer;
  }

  .no-sort {
    cursor: default;
  }
}

.table-striped.table-multiple-tbody {
  > tbody {
    &:not(:first-child) {
      border-top: none;
    }

    &:nth-of-type(odd) tr {
      background-color: #f9f9f9 !important;
    }

    > tr {
      &:hover {
        background-color: transparent;
      }

      &:nth-of-type(odd) {
        background-color: transparent;
      }
    }
  }
}
