@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Raleway:400,300,700,900);

@import "bootstrap-sprockets";
@import 'bootstrap/variables';
@import 'vendor/lifeitup/variables';
@import 'variables';
@import 'bootstrap';
@import 'vendor/lifeitup/lifeitup';

//custom style overriding lifeitup
@import 'layout';
@import 'buttons';
@import 'images';
@import 'panels';

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

#profile .panel {
  max-width: 700px;
}
