header .btn-default {
  @include button-variant($white, transparent, $white);
}

header #logout.btn.btn-default {
  background: rgba(255,255,255,0.2);
  border: 1px solid transparent;
  &:hover {
    color: $second-colour;
    background: rgba(255,255,255,0.7);
  }
}
