#write_comment_repository_btn, .destroy_comments_btn {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
}

.comment-thumbnail {
  margin-right: 20px;
  width: 40px;
  img {
    border-radius: 100%;
    border: 4px solid $gray-light;
    width: 40px;
  }
}

.comment-content {
  width: 100%;
}

.comment-content,
.comment-thumbnail {
  display: inline-block;
  vertical-align: top;
}

.comment-row {
  padding: .5em 0;
  display: flex;
  &:hover {
    background: $comment-row-hover;
  }
}

