section.sign-up {
  input#user_email {
    border-radius: 4px 4px 0 0;
  }
  input#user_username, input#user_password {
    border-radius: 0px;
  }
  input#user_password_confirmation {
    border-radius: 0 0 4px 4px;
  }
  input[type="email"] {
    border: 0px;
  }
}

.login {
  input[type="text"] {
    border-radius: 4px 4px 0 0;
  }
  input[type="password"] {
    border-radius: 0 0 4px 4px;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 4px 4px 0 0;
    background: rgba(0,0,0,0.1);
    &::-webkit-input-placeholder { color: #243b4d; }
    &::-moz-placeholder { color: #243b4d; }
    &:-ms-input-placeholder { color: #243b4d; }
    &:-moz-placeholder { color: #243b4d; }
    font-size: 15px;
    color: #e7e0d9;
  }
  button[type="submit"] {
    margin-bottom: 1em;
  }
  .btn-link {
    color: #fff
  }
}
