//labels
.label.label-info{
  background: $primary-colour;

  // Treat links inside of a label just like the label itself.
  a {
    background: $primary-colour;
    color: $white;

    &:hover {
      background: $primary-colour;
      color: $white;
    }
  }
}
