
header {
  height: 60px;
  .logo-header {
    height: 60px;
  }
  .user-header {
    padding: 10px 15px;
    img {
      margin-right: 0.7em;
    }
    .username {
      font-weight: 700;
      color: $white;
    }
  }
  .username-logout {
    display: inline-block;
    vertical-align: top;
  }
  .search-header {
    position: relative;
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin-right: 15px;
    margin-top: 4px;
    .navbar-form {
      padding: 0;
      margin: 0;
      input[type="search"] {
        border-radius: 4px 0 0 4px;
        background: transparent;
        border-left: 1px solid $white;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        border-right: 0px solid $white;
        color: $white;

      }
      ::-webkit-input-placeholder,
      :-moz-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder {
        color: $white;
      }
      button[type="submit"] {
        border-radius: 0 4px 4px 0;
        color: $white;
        border-left: 0px solid $white;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;
        display: none;
      }
    }
    .header-open-search {
      border: 1px solid transparent;
      color: $white;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        border: 1px solid transparent;
      }
    }
    .header-search-form .search-field {
      display: none;
    }
  }
}

body.login {
  background: image-url("layout/bg-login.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top center;
  .alert {
    .fa-3x {
      font-size: 1.5em
    }
    .col-sm-1 {
      width: 2em;
    }
    .col-sm-11 {
      width: 75%;
    }
  }
}

.center-panel {
  margin-top: 2em
}
@media (max-width: $screen-sm-max) {
  .center-panel {
    margin-top: 2em
  }
}

i.fa {
  padding: 0 0.3em;
}
