
header {
  height: 60px;
  .logo-header {
    height: 60px;
  }
  .user-header {
    padding: 10px 15px;
    img {
      margin-right: 0.7em;
    }
    .username {
      font-weight: 700;
      color: $white;
    }
  }
  .search-header {
    padding-top: 5px;
    position: relative;
    .navbar-form {
      padding: 0;
      input[type="search"] {
        border-radius: 4px 0 0 4px;
        background: transparent;
        border-left: 1px solid $white;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        border-right: 0px solid $white;
        color: $white;

      }
      ::-webkit-input-placeholder,
      :-moz-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder {
        color: $white;
      }
      button[type="submit"] {
        border-radius: 0 4px 4px 0;
        color: $white;
        border-left: 0px solid $white;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;
        display: none;
      }

    }
    .header-open-search {
      border: 1px solid transparent;
      color: $white;
      cursor: pointer;
      position: absolute;
      top: 12px;
      left: 0;
      &:hover {
        border: 1px solid transparent;
      }
    }
    .header-search-form .search-field {
      display: none;
    }
  }
}

body.login {
  background: url("layout/bg-login.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top center;
}

.center-panel {
  margin-top: 2em
}
@media (max-width: $screen-sm-max) {
  .center-panel {
    margin-top: 2em
  }
}

i.fa {
  padding: 0 0.3em;
}
