.panel-overview {
  @extend .panel;
  @extend .panel-default;
  .fa {
    color: $overview-icon-color;
    border-radius: 100%;
    padding: 0.5em 0.3em 0em 0.3em ;
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 2em;
    &.registries {
      background: $overview-icon-registries-bg;
    }
    &.users {
      background: $overview-icon-users-bg;
    }
    &.teams {
      background: $overview-icon-teams-bg;
    }
    &.namespaces {
      background: $overview-icon-namespaces-bg;
    }
  }
}

#profile .panel {
  max-width: 700px;
}
