.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}


.table > tbody > tr > td.table-icon {
  text-align: center;
}

.customized-datatable {
  border-bottom: 0px !important;

  /* Remove the bordor on top of the first row to match with the existing
   * layout.
   */
  tr:first-child td {
    border-top: 0px;
  }
}
