<new-namespace-form :state="state" form-state="newFormVisible"></new-namespace-form>
<namespaces-panel :state="state" form-state="newFormVisible" :namespaces="accessibleNamespaces" :table-sortable="true">
  h5 slot="name"
    ' Namespaces you have access to
</namespaces-panel>
