<namespaces-panel :namespaces="specialNamespaces" namespaces-url="#{namespaces_url}" webhooks-path="webhooks" prefix="sns_">
  h5 slot="name"
    a[data-placement="right"
      data-toggle="popover"
      data-container=".panel-heading"
      data-content="<p>A namespace groups a series of repositories.</p>"
      data-original-title="What's this?"
      tabindex="0" data-html="true"]
        i.fa.fa-info-circle
    '  Special namespaces
</namespaces-panel>
