<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href="/stylesheets/portus.css" type="text/css" rel="stylesheet" />
    <script src="/javascripts/dist/portus.min.js"    type="text/javascript" charset="utf-8"></script>

    {% include devices.html %}
  </head>
  <body>
    {% include header.html %}

    <div class="container">
      <div id="post-body" class="row">
        <div class="post-content col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <a href="{{ page.url | prepend: site.baseurl }}">
          <h2 class="post-title">{{ page.title }}</h2>

          {% if page.subtitle %}
          <h3 class="post-subtitle">
            {{ page.subtitle }}
          </h3>
          {% endif %}
          </a>

          <p class="post-meta">
            Posted on {{ page.date | date: "%B %-d, %Y" }}
            by {{ page.author }}
          </p>

          <div class="post-body">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="row row-0">
        <div class="text-center" lang="en">Created with <i class='fa fa-heart secondary-colour'></i> by the SUSE team</div>
      </div>
    </footer>
  </body>
</html>
