<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <!-- bootstrap + Portus theme -->
    <link href="/build/css/portus.min.css" type="text/css" rel="stylesheet" />
    <!--external libraries CSS -->
    <link href="/build/css/vendor.min.css" type="text/css" rel="stylesheet" />
    <!--external libraries JS + portus JS -->
    <script src="/build/js/main.min.js"    type="text/javascript" charset="utf-8"></script>

    {% include devices.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container" id="documentation">
      <div class="row">
        <div class="post-content col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
          <section>
            <div class="row">
              {% include mobile-topics.html %}
            </div>
            <div class="row post">
              <article>
                {{ content }}
              </article>
            </div>
          </section>
        </div>
      </div>
      {% include desktop-topics.html %}
      <div class="visible-xs visible-sm credits">
        <div class="text-center" lang="en">Created with <i class='fa fa-heart secondary-colour'></i> by the SUSE team</div>
      </div>
    </div>
  </body>
</html>
