<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <!-- bootstrap + Portus theme -->
    <link href="/build/css/portus.min.css" type="text/css" rel="stylesheet" />
    <!--external libraries CSS -->
    <link href="/build/css/vendor.min.css" type="text/css" rel="stylesheet" />
    <!--external libraries JS + portus JS -->
    <script src="/build/js/main.min.js"    type="text/javascript" charset="utf-8"></script>

    {% include devices.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container-fluid" id="documentation">
      <div class="row">
        <aside class="col-xs-3 aside-max">
          <h4>Documentation</h4>
          <ul>
            {% assign docs = (site.docs | sort: 'order') %}
            {% for d in docs %}
              <li>
                <a href="{{ d.url | prepend: site.baseurl }}">
                  {{ d.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <h4>Setups</h4>
          <ul>
            {% assign setups = (site.setups | sort: 'order') %}
            {% for s in setups %}
              <li>
                <a href="{{ s.url | prepend: site.baseurl }}">
                  {{ s.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <h4>Features</h4>
            <ul>
            {% assign features = (site.features | sort: 'order') %}
            {% for f in features %}
              <li>
                <a href="{{ f.url | prepend: site.baseurl }}">
                  {{ f.title }}
                </a>
              </li>
            {% endfor %}
            </ul>
        </aside>
        <div class="col-md-8 col-sm-11 col-xs-11 post-wrapper">
          <section>
            <div class="row post">
              <article class="post-content col-md-10">
                {{ content }}
              </article>
            </div>
          </section>

        </div>
      </div>
    </div>
  <footer class="col-xs-3 footer-documentation aside-max">
    <div class="text-center" lang="en">Created with <i class='fa fa-heart secondary-colour'></i> by the SUSE team</div>
  </footer>
  </body>
</html>
