<users-edit-page :user-ref="#{@user_serialized}" :app-tokens-ref="#{@app_tokens_serialized}" :max-tokens="#{User::APPLICATION_TOKENS_MAX}" :display-name-enabled="#{APP_CONFIG.enabled?('display_name')}" users-path="#{admin_users_path}"></users-edit-page>
